flujo-n8n-forja-v3-hoja.json
{
  "name": "FORJA - Rutina + Hoja de Seguimiento (v3)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "SELECCIONA TU GOOGLE SHEET"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "general"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "d1000000-0001-4a1a-9111-111111111111",
      "name": "Nueva fila en Sheet",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea una rutina de gimnasio para {{ $json.Nombre }}.\nDatos:\nEdad: {{ $json.Edad }} años\nPeso: {{ $json.Peso }} kg | Altura: {{ $json.Altura }} cm\nNivel: {{ $json.Nivel }}\nDisponibilidad: {{ $json.Dias_Entrenamiento }} a la semana, {{ $json.Tiempo_Entrenamiento }} por sesión.\nMeta principal: {{ $json.Meta }}.\nLesiones o limitaciones: {{ $json.Lesiones }}.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un entrenador personal experto en musculación y fitness, especializado en principiantes. Devuelve EXCLUSIVAMENTE un JSON válido, sin texto antes ni después y sin ```. La estructura exacta debe ser: { \"saludo\": \"saludo motivador al usuario por su nombre\", \"resumen\": \"1-2 frases sobre el enfoque de la rutina\", \"dias\": [ { \"titulo\": \"ej: Día 1 – Empuje (Pecho y Tríceps)\", \"ejercicios\": [ { \"ejercicio\": \"nombre\", \"series\": 4, \"reps\": \"8-12\", \"nota\": \"indicación breve de carga\" } ] } ], \"consejo\": \"consejo final motivador\" }. Reglas obligatorias: el número de objetos dentro de 'dias' debe ser EXACTAMENTE igual a los días disponibles que indique el usuario. Para las cargas NO des kilos exactos porque varían según cada persona: en el campo 'nota' indica que use un peso que le acomode y le permita completar las series con buena técnica y sin demasiada dificultad, dejando 1 o 2 repeticiones en reserva. Respeta SIEMPRE las lesiones o limitaciones indicadas y adapta o evita ejercicios peligrosos."
            }
          ]
        }
      },
      "id": "d1000000-0002-4a2a-9222-222222222222",
      "name": "Generar rutina (JSON)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        120,
        320
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "d1000000-0003-4a3a-9333-333333333333",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        120,
        540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parsea el JSON de la IA y prepara la planilla\nconst raw = ($json.text || '').toString();\nconst clean = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\nlet data;\ntry { data = JSON.parse(clean); } catch (e) { throw new Error('La IA no devolvió JSON válido: ' + e.message); }\nif (!data.dias || !Array.isArray(data.dias) || data.dias.length === 0) {\n  throw new Error('El JSON no contiene días válidos');\n}\n\nconst trigger = $('Nueva fila en Sheet').item.json;\nconst nombre = trigger.Nombre || 'crack';\nconst email = trigger.Email;\n\nconst headers = ['Ejercicio', 'Series', 'Reps objetivo', 'Peso usado (kg)', 'Reps hechas', 'Dificultad (facil/medio/dificil)'];\nconst sheets = [];\nconst writeData = [];\n\ndata.dias.forEach(function (dia, i) {\n  const tab = 'Día ' + (i + 1);\n  sheets.push({ properties: { title: tab } });\n  const values = [];\n  values.push([ dia.titulo || tab ]);\n  values.push(headers);\n  (dia.ejercicios || []).forEach(function (ej) {\n    values.push([ ej.ejercicio || '', ej.series || '', ej.reps || '', '', '', '' ]);\n  });\n  writeData.push({ range: tab + '!A1', values: values });\n});\n\nconst createBody = { properties: { title: 'Rutina FORJA - ' + nombre }, sheets: sheets };\n\nreturn { json: {\n  nombre: nombre,\n  email: email,\n  dias: data.dias,\n  saludo: data.saludo || ('¡Hola ' + nombre + '!'),\n  resumen: data.resumen || '',\n  consejo: data.consejo || '¡A darlo todo!',\n  createBody: createBody,\n  writeData: writeData\n} };\n"
      },
      "id": "d1000000-0004-4a4a-9444-444444444444",
      "name": "Preparar planilla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.createBody) }}",
        "options": {}
      },
      "id": "d1000000-0005-4a5a-9555-555555555555",
      "name": "Crear planilla",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Toma el ID de la planilla recién creada y arma el body para escribir los ejercicios\nconst create = $json; // respuesta de \"Crear planilla\"\nconst prep = $('Preparar planilla').item.json;\nif (!create.spreadsheetId) { throw new Error('No se obtuvo el spreadsheetId de la planilla creada'); }\nreturn { json: {\n  spreadsheetId: create.spreadsheetId,\n  spreadsheetUrl: create.spreadsheetUrl,\n  body: { valueInputOption: 'RAW', data: prep.writeData }\n} };\n"
      },
      "id": "d1000000-0006-4a6a-9666-666666666666",
      "name": "Preparar escritura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "d1000000-0007-4a7a-9777-777777777777",
      "name": "Escribir ejercicios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Preparar escritura').item.json.spreadsheetId }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'writer', type: 'anyone' }) }}",
        "options": {}
      },
      "id": "d1000000-0008-4a8a-9888-888888888888",
      "name": "Compartir hoja",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Arma el correo con la rutina y el link a la hoja de seguimiento\nconst prep = $('Preparar planilla').item.json;\nconst create = $('Crear planilla').item.json;\nconst url = create.spreadsheetUrl;\nconst nombre = prep.nombre;\nconst email = prep.email;\n\nlet diasHtml = '';\nprep.dias.forEach(function (dia) {\n  diasHtml += '<h3 style=\"color:#2E9E6D;margin:22px 0 8px;font-size:17px;\">' + (dia.titulo || 'Día') + '</h3>';\n  diasHtml += '<ul style=\"margin:0 0 4px;padding-left:20px;color:#333;font-size:15px;line-height:1.6;\">';\n  (dia.ejercicios || []).forEach(function (ej) {\n    const nota = ej.nota ? ' <em style=\"color:#777;\">(' + ej.nota + ')</em>' : '';\n    diasHtml += '<li style=\"margin-bottom:5px;\"><strong>' + ej.ejercicio + '</strong> — ' + ej.series + ' series × ' + ej.reps + ' reps' + nota + '</li>';\n  });\n  diasHtml += '</ul>';\n});\n\nconst html =\n'<div style=\"font-family:Arial,sans-serif;background-color:#f7f9fa;padding:30px;\">' +\n  '<div style=\"max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 10px rgba(0,0,0,0.05);\">' +\n    '<div style=\"background:#2E9E6D;color:#fff;padding:30px 20px;text-align:center;\">' +\n      '<h1 style=\"margin:0;font-size:24px;\">¡Tu rutina está lista! 🏋️</h1>' +\n    '</div>' +\n    '<div style=\"padding:30px;\">' +\n      '<p style=\"font-size:16px;color:#333;margin-top:0;\">' + prep.saludo + '</p>' +\n      '<p style=\"font-size:15px;color:#333;line-height:1.5;\">' + prep.resumen + '</p>' +\n      diasHtml +\n      '<div style=\"background:#eaf5f0;border-radius:8px;padding:20px;margin:24px 0;text-align:center;\">' +\n        '<p style=\"margin:0 0 14px;font-size:15px;color:#1a5c3f;\"><strong>📊 Registra tu progreso</strong><br>Anota el peso, las repeticiones y la dificultad de cada ejercicio en tu hoja personal:</p>' +\n        '<a href=\"' + url + '\" style=\"background:#2E9E6D;color:#fff;text-decoration:none;padding:14px 26px;border-radius:8px;font-weight:bold;display:inline-block;\">Abrir mi hoja de seguimiento</a>' +\n      '</div>' +\n      '<p style=\"font-size:13px;color:#888;\">En tu próximo seguimiento, ajustaremos tus cargas usando esos datos reales.</p>' +\n      '<p style=\"font-size:15px;color:#333;margin-top:18px;\">' + prep.consejo + '</p>' +\n    '</div>' +\n    '<div style=\"padding:20px;text-align:center;color:#888;font-size:14px;border-top:1px solid #eee;\">' +\n      'Con cariño,<br><strong>Equipo Forja Rutinas 💪</strong>' +\n    '</div>' +\n  '</div>' +\n'</div>';\n\nreturn { json: { email: email, nombre: nombre, html: html, hoja_url: url } };\n"
      },
      "id": "d1000000-0009-4a9a-9999-999999999999",
      "name": "Armar correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=¡{{ $json.nombre }}, tu plan de entrenamiento está listo! 🏋️",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "d1000000-000a-4aaa-9aaa-aaaaaaaaaaaa",
      "name": "Enviar correo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1800,
        320
      ]
    },
    {
      "parameters": {
        "content": "## FORJA v3 — Rutina + Hoja de Seguimiento\n\nFlujo: Gemini (JSON) → crea planilla por cliente (1 pestaña por día) → escribe ejercicios → comparte → correo con link.\n\n**Credenciales a configurar:**\n1. Nueva fila en Sheet → Google Sheets (hoja 'general')\n2. Gemini Chat Model → API key\n3. Los 3 nodos HTTP (Crear planilla / Escribir ejercicios / Compartir hoja) → Authentication ya viene como 'Google Sheets OAuth2 API': solo SELECCIONA tu credencial de Google en cada uno.\n4. Enviar correo → Gmail\n\nActiva Retry On Fail en el nodo Gemini.",
        "height": 340,
        "width": 420
      },
      "id": "d1000000-000b-4bbb-9bbb-bbbbbbbbbbbb",
      "name": "Instrucciones",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -80
      ]
    }
  ],
  "connections": {
    "Nueva fila en Sheet": {
      "main": [
        [
          {
            "node": "Generar rutina (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generar rutina (JSON)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generar rutina (JSON)": {
      "main": [
        [
          {
            "node": "Preparar planilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar planilla": {
      "main": [
        [
          {
            "node": "Crear planilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear planilla": {
      "main": [
        [
          {
            "node": "Preparar escritura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar escritura": {
      "main": [
        [
          {
            "node": "Escribir ejercicios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir ejercicios": {
      "main": [
        [
          {
            "node": "Compartir hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compartir hoja": {
      "main": [
        [
          {
            "node": "Armar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar correo": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}