flujo-n8n-forja-v2.json
{
  "name": "FORJA - Generador de Rutinas (JSON) v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "SELECCIONA TU GOOGLE SHEET"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "general"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "c1b2c3d4-0001-4a1a-9111-111111111111",
      "name": "Nueva fila en Sheet",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea una rutina de gimnasio para {{ $json.Nombre }}.\nDatos:\nEdad: {{ $json.Edad }} años\nPeso: {{ $json.Peso }} kg | Altura: {{ $json.Altura }} cm\nNivel: {{ $json.Nivel }}\nDisponibilidad: {{ $json.Dias_Entrenamiento }} a la semana, {{ $json.Tiempo_Entrenamiento }} por sesión.\nMeta principal: {{ $json.Meta }}.\nLesiones o limitaciones: {{ $json.Lesiones }}.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un entrenador personal experto en musculación y fitness, especializado en principiantes. Devuelve EXCLUSIVAMENTE un JSON válido, sin texto antes ni después y sin ```. La estructura exacta debe ser: { \"saludo\": \"saludo motivador al usuario por su nombre\", \"resumen\": \"1-2 frases sobre el enfoque de la rutina\", \"dias\": [ { \"titulo\": \"ej: Día 1 – Empuje (Pecho y Tríceps)\", \"ejercicios\": [ { \"ejercicio\": \"nombre\", \"series\": 4, \"reps\": \"8-12\", \"nota\": \"indicación breve de carga\" } ] } ], \"consejo\": \"consejo final motivador\" }. Reglas obligatorias: el número de objetos dentro de 'dias' debe ser EXACTAMENTE igual a los días disponibles que indique el usuario. Para las cargas NO des kilos exactos porque varían según cada persona: en el campo 'nota' indica que use un peso que le acomode y le permita completar las series con buena técnica y sin demasiada dificultad, dejando 1 o 2 repeticiones en reserva. Respeta SIEMPRE las lesiones o limitaciones indicadas y adapta o evita ejercicios peligrosos."
            }
          ]
        }
      },
      "id": "c1b2c3d4-0002-4a2a-9222-222222222222",
      "name": "Generar rutina (JSON)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4a3a-9333-333333333333",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// === FORJA · Validar JSON de la IA y armar el correo ===\nconst raw = ($json.text || '').toString();\nconst clean = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(clean);\n} catch (e) {\n  throw new Error('La IA no devolvió un JSON válido: ' + e.message);\n}\n\n// Guardrail: validar estructura mínima\nif (!data.dias || !Array.isArray(data.dias) || data.dias.length === 0) {\n  throw new Error('El JSON no contiene un arreglo de días válido');\n}\n\n// Datos del formulario (nodo trigger)\nconst trigger = $('Nueva fila en Sheet').item.json;\nconst nombre = trigger.Nombre || 'crack';\nconst email = trigger.Email;\n\n// Construir el HTML de los días\nlet diasHtml = '';\nfor (const dia of data.dias) {\n  diasHtml += '<h3 style=\\'color:#2E9E6D;margin:22px 0 8px;font-size:17px;\\'>' + (dia.titulo || 'Día') + '</h3>';\n  diasHtml += '<ul style=\\'margin:0 0 4px;padding-left:20px;color:#333;font-size:15px;line-height:1.6;\\'>';\n  for (const ej of (dia.ejercicios || [])) {\n    const nota = ej.nota ? ' <em style=\\'color:#777;\\'>(' + ej.nota + ')</em>' : '';\n    diasHtml += '<li style=\\'margin-bottom:5px;\\'><strong>' + ej.ejercicio + '</strong> — ' + ej.series + ' series × ' + ej.reps + ' reps' + nota + '</li>';\n  }\n  diasHtml += '</ul>';\n}\n\nconst saludo = data.saludo || ('¡Hola ' + nombre + '!');\nconst resumen = data.resumen || '';\nconst consejo = data.consejo || '¡A darlo todo!';\n\nconst html =\n'<div style=\\'font-family:Arial,sans-serif;background-color:#f7f9fa;padding:30px;\\'>' +\n  '<div style=\\'max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 10px rgba(0,0,0,0.05);\\'>' +\n    '<div style=\\'background:#2E9E6D;color:#fff;padding:30px 20px;text-align:center;\\'>' +\n      '<h1 style=\\'margin:0;font-size:24px;\\'>¡Tu rutina está lista! 🏋️</h1>' +\n    '</div>' +\n    '<div style=\\'padding:30px;\\'>' +\n      '<p style=\\'font-size:16px;color:#333;margin-top:0;\\'>' + saludo + '</p>' +\n      '<p style=\\'font-size:15px;color:#333;line-height:1.5;\\'>' + resumen + '</p>' +\n      diasHtml +\n      '<p style=\\'font-size:15px;color:#333;margin-top:22px;\\'>' + consejo + '</p>' +\n    '</div>' +\n    '<div style=\\'padding:20px;text-align:center;color:#888;font-size:14px;border-top:1px solid #eee;\\'>' +\n      'Con cariño,<br><strong>Equipo Forja Rutinas 💪</strong>' +\n    '</div>' +\n  '</div>' +\n'</div>';\n\nreturn { json: { email: email, nombre: nombre, html: html } };\n"
      },
      "id": "c1b2c3d4-0004-4a4a-9444-444444444444",
      "name": "Validar y armar correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=¡{{ $json.nombre }}, tu plan de entrenamiento está listo! 🏋️",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "c1b2c3d4-0005-4a5a-9555-555555555555",
      "name": "Enviar correo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "content": "## FORJA v2 — Rutina en JSON\n\n**Fase 1:** Gemini devuelve la rutina como JSON, el nodo Code valida (guardrail) y arma el correo.\n\nConfigura las 3 credenciales:\n1. Nueva fila en Sheet (Google + hoja 'general')\n2. Google Gemini Chat Model (API key)\n3. Enviar correo (Gmail)\n\nActiva Retry On Fail en el nodo Gemini.",
        "height": 300,
        "width": 360
      },
      "id": "c1b2c3d4-0006-4a6a-9666-666666666666",
      "name": "Instrucciones",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        -20
      ]
    }
  ],
  "connections": {
    "Nueva fila en Sheet": {
      "main": [
        [
          {
            "node": "Generar rutina (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generar rutina (JSON)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generar rutina (JSON)": {
      "main": [
        [
          {
            "node": "Validar y armar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y armar correo": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}