flujo-n8n-forja-seguimiento-v2.json
{
  "name": "FORJA - Seguimiento (lee hoja y ajusta) v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "TU GOOGLE SHEET FORJA"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "seguimiento"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "f1000000-0001-4a1a-9111-111111111111",
      "name": "Nuevo seguimiento en Sheet",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "TU GOOGLE SHEET FORJA"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "hojas_clientes"
        },
        "options": {}
      },
      "id": "f1000000-0002-4a2a-9222-222222222222",
      "name": "Leer libreta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Busca en la libreta 'hojas_clientes' la planilla del cliente por su email\nconst trigger = $('Nuevo seguimiento en Sheet').first().json;\nconst email = String(trigger.Email || '').trim().toLowerCase();\nconst libreta = $input.all().map(function (i) { return i.json; });\nconst matches = libreta.filter(function (r) { return String(r.Email || '').trim().toLowerCase() === email; });\nif (matches.length === 0) {\n  throw new Error('No se encontró una planilla para ' + email + '. ¿El cliente generó primero su rutina inicial?');\n}\nconst last = matches[matches.length - 1]; // la más reciente\nreturn { json: {\n  ID_Hoja: last.ID_Hoja,\n  email: trigger.Email,\n  nombre: trigger.Nombre || last.Nombre || 'crack',\n  Como_Fue: trigger.Como_Fue || '',\n  Peso: trigger.Peso || '',\n  Sensaciones: trigger.Sensaciones || '',\n  Nueva_Lesion: trigger.Nueva_Lesion || '',\n  Cambio_Meta: trigger.Cambio_Meta || ''\n} };\n"
      },
      "id": "f1000000-0003-4a3a-9333-333333333333",
      "name": "Buscar planilla del cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.ID_Hoja }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0",
          "cachedResultName": "Hoja 1"
        },
        "options": {}
      },
      "id": "f1000000-0004-4a4a-9444-444444444444",
      "name": "Leer registros del cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Arma un resumen de texto con lo que el cliente registró en su hoja\nconst info = $('Buscar planilla del cliente').first().json;\nconst registros = $input.all().map(function (i) { return i.json; });\nlet tabla = '';\nregistros.forEach(function (r) {\n  const dia = r['Día'] || '';\n  const ej = r['Ejercicio'] || '';\n  if (!ej) return;\n  tabla += '- [' + dia + '] ' + ej + ': objetivo ' + (r['Series'] || '') + ' x ' + (r['Reps objetivo'] || '') +\n    '. Usó ' + (r['Peso usado (kg)'] || '(sin dato)') + ' kg, hizo ' + (r['Reps hechas'] || '(sin dato)') +\n    ' reps, dificultad: ' + (r['Dificultad'] || '(sin dato)') + '.\\n';\n});\nif (!tabla) { tabla = '(El cliente aún no registró pesos en su hoja; ajusta según su feedback general.)\\n'; }\nreturn { json: {\n  email: info.email, nombre: info.nombre, contexto: tabla,\n  Como_Fue: info.Como_Fue, Peso: info.Peso, Sensaciones: info.Sensaciones,\n  Nueva_Lesion: info.Nueva_Lesion, Cambio_Meta: info.Cambio_Meta\n} };\n"
      },
      "id": "f1000000-0005-4a5a-9555-555555555555",
      "name": "Preparar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Este es un SEGUIMIENTO de {{ $json.nombre }}, que ya entrenó con una rutina nuestra y quiere ajustarla.\n\nREGISTRO de sus últimos entrenamientos (lo que anotó en su hoja):\n{{ $json.contexto }}\nFeedback general del formulario:\n- Cómo le fue con la rutina: {{ $json.Como_Fue }}\n- Peso corporal actual: {{ $json.Peso }} kg\n- Sensaciones: {{ $json.Sensaciones }}\n- Nueva molestia o lesión: {{ $json.Nueva_Lesion }}\n- Cambio de meta solicitado: {{ $json.Cambio_Meta }}\n\nGenera la rutina AJUSTADA usando estos datos reales.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un entrenador personal experto que da SEGUIMIENTO a tus clientes. Ajustas su rutina usando los DATOS REALES que registró (peso usado, reps hechas, dificultad) más su feedback. Reglas: si un ejercicio le resultó fácil o hizo más reps que el objetivo, sube un poco el peso; si le costó o no llegó, mantén o baja; deja siempre 1-2 reps en reserva. Respeta cualquier lesión nueva.\n\nDevuelve SOLO el contenido HTML del cuerpo, SIN atributos de estilo, sin <html>/<head>/<body> y sin ```. Usa únicamente estas etiquetas simples:\n- Un <p> con saludo motivador por su nombre reconociendo su avance.\n- Un <p><strong>🔧 Resumen de ajustes:</strong> ...</p> con 2-3 frases sobre qué ajustaste y por qué.\n- Por cada día: <h3>Día X – Nombre</h3> y un <ul> con un <li> por ejercicio así: <strong>Ejercicio</strong> — 4 series × 8-12 reps <em>(Ajuste: sube a X kg)</em>\n- Un <p> de cierre motivador recordando registrar los nuevos pesos."
            }
          ]
        }
      },
      "id": "f1000000-0006-4a6a-9666-666666666666",
      "name": "Ajustar rutina (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "f1000000-0007-4a7a-9777-777777777777",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=¡{{ $json.nombre }}, tu rutina ajustada está lista! 📈",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "f1000000-0008-4a8a-9888-888888888888",
      "name": "Enviar rutina ajustada",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "content": "## FORJA — Seguimiento (cierra el loop)\n\nDispara con nueva fila en pestaña 'seguimiento' → busca la planilla del cliente en 'hojas_clientes' → lee sus registros (pesos/reps/dificultad) → Gemini ajusta las cargas → correo.\n\n**Credenciales:**\n1. Nuevo seguimiento en Sheet → Google Sheets (hoja 'seguimiento')\n2. Leer libreta → Google Sheets (hoja 'hojas_clientes')\n3. Leer registros del cliente → Google Sheets (documento dinámico, Sheet By ID = 0)\n4. Gemini → API key\n5. Enviar rutina ajustada → Gmail\n\nRetry On Fail en el nodo Gemini.",
        "height": 340,
        "width": 420
      },
      "id": "f1000000-0009-4a9a-9999-999999999999",
      "name": "Instrucciones",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let content = ($json.text || '').toString().replace(/```html/gi, '').replace(/```/g, '').trim();\ncontent = content\n  .replace(/<h3>/g, '<h3 style=\"color:#2E9E6D;font-size:17px;margin:24px 0 8px;\">')\n  .replace(/<ul>/g, '<ul style=\"margin:0;padding-left:20px;font-size:14px;line-height:1.7;color:#333;\">')\n  .replace(/<li>/g, '<li style=\"margin-bottom:5px;\">')\n  .replace(/<p>/g,  '<p style=\"font-size:15px;color:#333;line-height:1.55;\">')\n  .replace(/<em>/g, '<em style=\"color:#777;\">');\n\nconst nombre = $('Preparar contexto').item.json.nombre;\nconst email  = $('Preparar contexto').item.json.email;\n\nconst html = '<div style=\"font-family:Arial,sans-serif;background:#f7f9fa;padding:30px;\">' +\n  '<div style=\"max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 10px rgba(0,0,0,0.06);\">' +\n    '<div style=\"background:#2E9E6D;color:#fff;padding:28px 20px;text-align:center;\">' +\n      '<h1 style=\"margin:0;font-size:23px;\">¡Tu rutina ajustada está lista! 📈</h1>' +\n    '</div>' +\n    '<div style=\"padding:28px 30px;\">' + content + '</div>' +\n    '<div style=\"padding:18px;text-align:center;color:#888;font-size:13px;border-top:1px solid #eee;\">Con cariño,<br><strong style=\"color:#2E9E6D;\">Equipo Forja Rutinas 💪</strong></div>' +\n  '</div>' +\n'</div>';\n\nreturn { json: { email: email, nombre: nombre, html: html } };\n"
      },
      "id": "f1000000-000a-4aaa-9aaa-aaaaaaaaaaaa",
      "name": "Dar formato al correo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Nuevo seguimiento en Sheet": {
      "main": [
        [
          {
            "node": "Leer libreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer libreta": {
      "main": [
        [
          {
            "node": "Buscar planilla del cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar planilla del cliente": {
      "main": [
        [
          {
            "node": "Leer registros del cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer registros del cliente": {
      "main": [
        [
          {
            "node": "Preparar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto": {
      "main": [
        [
          {
            "node": "Ajustar rutina (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ajustar rutina (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ajustar rutina (Gemini)": {
      "main": [
        [
          {
            "node": "Dar formato al correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dar formato al correo": {
      "main": [
        [
          {
            "node": "Enviar rutina ajustada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}